{
  "presets": [
    [ "@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 3 versions",
          "not dead",
          "not ie <= 10",
          "not android < 300"
        ]
      },
      "debug": true
    }]
  ]
}
